*{
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
a{
    display: flex;
}
p{
    font-family: "DM sans", sans-serif;
    font-weight: 600;
    color: black;
}
h1, h2, h3, h4, h5, h6 {
    font-family: poppins , sans-serif;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #cacaca;
}
header h1{
    color: rgb(236, 66, 66);
    width: 250px;
}
header span{
    color: black;
}
#submenu{
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0px;
    top: 60px;
    gap: 30px 0;
    background-color: white;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,.2);
    padding: 20px;
    justify-content: center;
    transition: all .5s;
}
header i:hover ~ #submenu{
    display: flex;
    right: 0px;
}
#submenu:hover{
    display: flex;
}
#navlink{
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    width: 250px;
    justify-content: space-between;
}
#navlink a p{
    transition: all .5s;
}
#navlink a p:hover{
    color: rgb(235, 39, 39);
}
#hero{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 20px;
}
#hero h1{
    width: 70%;
    max-width: 600px;
    font-size: clamp(30px,5vw,50px);
    text-align: center;
}
#hero h1 span{
    display: inline-block;
    background-color: #F9D364;
    padding:0 10px;
    border-radius: 8px;
}
#herosub{
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 80%;
    max-width: 700px;
    text-align: center;
}

.rqbook{
    width: 150px;
    background-color: rgb(236, 66, 66);
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    transition: all .5s ease-in-out;
}
.rqbook:hover{
    background-color: rgb(235, 39, 39);
}
#info-sec{
    margin-left: 30px;
    background-color: #D1ECF1;
    padding: 20px;
    border-radius: 8px;
    border-left: 4px solid #03687a;
    margin-right: 30px;
    margin-top: 50px;
    margin-bottom: -40px;
}
#icon{
    color: #062C33;
    font-weight: 900;
    margin-bottom: 10px;
}
#icon i{
    margin-right: 5px;
    font-size: 18px;
    position: relative;
    top: 1px;
}
#itext{
    font-weight: 400;
    font-style: italic;
    line-height: 1.7em;
}
#books{
    padding: 30px;
    padding-top: 0px;
    margin-bottom: 50px;
}
#lsat{
    margin-top: 0px;
}
#books h1{
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 60px;
}
#books h1::before{
    content: "";
    display: inline-block;
    aspect-ratio: 1/1;
    background-color: rgb(236, 66, 66);
    width: 40px;
    border-radius: 8px;
    margin-right: 8px;
}
.list{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 60px 20px;
    flex-wrap: wrap;
}
.list a{
    width: 230px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .5s;
}
.list a p{
    margin-top: 10px;
    text-align: center;
}
.list a:hover p{
    text-decoration: underline;
}
.list a:hover{
    scale: 1.07;
}
.list img{
    width: 150px;
    border: 1px solid #cacaca;
    aspect-ratio: 8/11;
    object-fit: fill;
}
footer{
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    height: 80px;
    padding: 10px;
}
footer p{
    font-family: poppins;
    color: rgba(255, 255, 255, 0.3);;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
}
@media (max-width: 768px) {
    #navlink{
        display: none;
    }
    header{
        padding: 10px 20px 10px 20px;

        justify-content: space-between;
    }
    header h1{
        font-size: 25px;
    }
    #headbtn{
        display: none;
    }
    #hero{
        padding-top: 40px;
    }
    #herosub{
        font-size: 14px;
    }
    .rqbook{
        font-size: 14px;
        padding: 10px 0px;
        width: 130px;
    }
    #icon{
        font-size: 14px;
    }
    #itext{
        font-size: 14px;
    }
    #books h1{
        font-size: 30px;
    }
    #books h1::before{
        width: 30px;
        position: relative;
        top: 3px;
    }
    .list img{
        width: 100px;
    }
    .list a{
        width: 140px;
    }
    .list p{
        font-size: 14px;
    }
}
@media (min-width: 768px){
    header i{
        display: none !important;
    }
}